doctype html
html
  head
    title Angad Dance Academy
    block scripts
    block style

  body
        navbar#navbar.nav
                div.logo
                    img(src="../static1/PinClipart.com_clip-art-sports_855306.png", alt="dance")
                    | ADA
                ul#list
                    li #[a(href='/') Home] 
                    li #[a(href='/') Services]
                    li #[a(href='/') Clients]
                    li #[a(href='/contact') Contact Us]
block content
block foot
        footer.footer
            |Copyright © 2020 Angadanceacademy.com || All Rights Reserved